        *{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

        }

        body{
            color: rgb(13, 13, 14);
            background-color:rgba(144, 144, 155, 0.822) ;

            main{
                background-color: rgb(246, 249, 252);
                border-radius: 10px;
                width: 600px;
                margin: auto;
               padding: 100px;
               box-shadow: 10px 10px 30px;

            }

            h1{

            text-align: center;
            color: #2009f3;
            box-shadow: 10px 10PX 20PX;
            border-radius: 10px;
            padding-bottom: 0px;
            border-style: solid;
            border-width: 2px;
            border-color: blue;


            }
            p{
                text-align: justify;
                text-indent: 30px;

            }
            h2{

            color:#2c09f3;
            box-shadow: 5px  5px 10px;
            text-align: justify;

            }

            img{

                width: 300px;
                height: 300px;
                display: block;
                margin: auto;
                box-shadow: 20px 20px 40px;
                border-radius: 200px;
                font-size: 500px;
            }
            audio{
                text-align: center;
                color: brown;
                display: block;
                width: 500px;
                margin: auto;
                border-radius: 40px;

            }

        
        }

    